					{% load static %}
					<!--albums-->
					<!-- pop-up-box --> 
							<link href="{% static '/css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all">
							<script src="{% static '/js/jquery.magnific-popup.js' %}" type="text/javascript"></script>
							
					<!--//pop-up-box -->
						<div class="albums">
								<div class="tittle-head">
									<h3 class="tittle">New Releases <span class="new">New</span></h3>
									<a href="index.html"><h4 class="tittle">See all</h4></a>
									<div class="clearfix"> </div>
								</div>
								{% for album in new_releases %}
								<div class="col-md-3 content-grid">
									<a class="play-icon popup-with-zoom-anim" href="{% url 'album' album.slug %}"><img src="{{ album.art.url }}" title="allbum-name"></a>
									<a class="button " href="{% url 'album' album.slug %}">Listen now</a>
								</div>
								{% endfor %}

											<div class="clearfix"> </div>
										</div>
					<!--//End-albums-->
						<!--//discover-view-->
						
						<div class="albums second">
										<div class="tittle-head">
											<h3 class="tittle">Discover <span class="new">View</span></h3>
											<a href="index.html"><h4 class="tittle two">See all</h4></a>
											<div class="clearfix"> </div>
										</div>
											{% for artist in artists %}
											<div class="col-md-3 content-grid">
												<a href="{% url 'artist' artist.slug %}"><img src="{{ artist.avatar.url }}" title="allbum-name"></a>
												<div class="inner-info"><a href="{% url 'artist' artist.slug %}"><h5>{{ artist.genre}}</h5></a></div>
											</div>
											{% endfor %}
											<div class="clearfix"> </div>
									</div>
								<!--//discover-view-->
							</div>
							<!--//music-left-->
						    <!--/music-right-->
