{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<!-- Bootstrap Core CSS -->
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />

<!-- Custom CSS -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />

<!-- Graph CSS -->
<link href="/static/css/font-awesome.css" rel="stylesheet"> 

<!-- lined-icons -->
<link rel="stylesheet" href="/static/css/icon-font.css" type='text/css' />
 

<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">


<script src="{% static 'js/jquery-2.1.4.js' %}"></script>

<title> {% block title %} {% endblock %} | Hetro Records</title>
</head>

<body class="sticky-header left-side-collapsed"  onload="initMap()">
  {% block content %} 


  {% endblock %}

      <script src="{% static 'js/bootstrap.js' %}"></script>
      <script src="{% static 'js/jquery.nicescroll.js' %}"></script>

      <!-- search-scripts -->
      <script src="/static/js/classie.js"></script>
      <script src="/static/js/uisearch.js"></script>  
      

      <script src="/static/js/responsiveslides.min.js"></script>

      <!-- script for play-list -->
      <link href="/static/css/jplayer.blue.monday.min.css" rel="stylesheet" type="text/css">
      <script type="text/javascript" src="/static/js/jquery.jplayer.min.js"></script>
      <script type="text/javascript" src="/static/js/jplayer.playlist.min.js"></script>

      <script type="text/javascript" src="/static/js/jquery.flexisel.js"></script>    

      {% block custom_scripts %} {% endblock %}

      <script src="{% static 'js/scripts.js' %}"></script>   
</body>
</html>
