{% extends 'base.html' %}
{% load static %}

{% block title %} Flava {% endblock %}

{% block content %}


 	
    <section>
    	{% include 'left-side-bar.html' %}

		<!-- main content start-->
		<div class="main-content">
			<div id="page-wrapper">
				<div class="inner-content">
				{% include 'top-nav-bar.html' %}
					<div class="music-left">
						{% include 'banner.html' %}
						{% include 'albums.html' %}

					</div>
					<div class="music-right">
						{% include "video-playlist.html" %}
						{% include 'app-store.html' %}
						{% include 'pricing-plans.html' %}
					</div>
					<!--//music-right-->
					<div class="clearfix"></div>
				</div>
					</div>
			  <!--body wrapper end-->
			  {% include 'footer.html' %}
 	 <!-- /w3l-agile -->
      <!-- main content end-->
   </section>
{% endblock %}

