{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--//pop-up-box -->
<!--albums-->
		
					    
					    	 	
						<div class="albums">
								<div class="tittle-head">
									<h3 class="tittle">New Releases <span class="new">New</span></h3>
									<a href="index.html"><h4 class="tittle">See all</h4></a>
									<div class="clearfix"> </div>
								</div>
								<div class="col-md-3 content-grid">
								<a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="/static/images/v1.jpg" title="allbum-name"></a>
								<a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Listen now</a>
							</div>
							<div id="small-dialog" class="mfp-hide">
								<iframe src="https://player.vimeo.com//static/video/12985622"></iframe>
								
							</div>
							<div class="col-md-3 content-grid">
								<a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="/static/images/v2.jpg" title="allbum-name"></a>

								<a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Listen now</a>
							</div>
							<div class="col-md-3 content-grid">
								<a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="/static/images/v3.jpg" title="allbum-name"></a>

								<a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Listen now</a>
							</div>
							<div class="col-md-3 content-grid last-grid">
								<a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="/static/images/v4.jpg" title="allbum-name"></a>
	
								<a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Listen now</a>
							</div>
							<div class="col-md-3 content-grid">
								<a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="/static/images/v5.jpg" title="allbum-name"></a>

								<a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Listen now</a>
							</div>
							<div id="small-dialog" class="mfp-hide">
								<iframe src="https://player.vimeo.com//static/video/12985622"></iframe>
								
							</div>
							<div class="col-md-3 content-grid">
								<a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="/static/images/v6.jpg" title="allbum-name"></a>
		
								<a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Listen now</a>
							</div>
							<div class="col-md-3 content-grid">
								<a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="/static/images/v7.jpg" title="allbum-name"></a>

								<a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Listen now</a>
							</div>
							<div class="col-md-3 content-grid last-grid">
								<a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="/static/images/v8.jpg" title="allbum-name"></a>
												<a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Listen now</a>
											</div>
											<div class="clearfix"> </div>
										</div>


					<!--//End-albums-->
{% endblock %}
